@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --skyblue: #758BFD;
  --light-skyblue: #AEB8FE;
  --off-white: #ffffffbf;
  --dark1: #2D2D2D;
}

body {
  font-family: Work Sans;
  background-color: #F9F9F9;
}







/* default styles starts*/

.text-sm {
  font-size: 15px;
}

.text-md {
  font-size: 17px;
}

.headingOne {
  font-size: 60px;
  font-weight: 600;
}

.headingTwo {
  font-size: 45px;
  font-weight: 600;
  line-height: 59px;
  text-transform: capitalize;
}

.headingThree {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}

.headingFour {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

.button_primary {
  text-decoration: none;
  font-size: 14px;
  background-color: var(--skyblue);
  color: #ffffff;
  padding: 15px 38px;
  border-radius: 30px;

}

.button_secondary {
  text-decoration: none;
  font-size: 14px;
  background-color: var(--light-skyblue);
  color: #ffffff;
  padding: 15px 38px;
  border-radius: 30px;

}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

/* default styles ends*/










.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-image: url('../images/Header.png');
  background-size: contain;
  color: white;
  padding: 20px 100px 40px;
}

.header_contact {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #ffffff; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.locations {
  display: flex;
  gap: 50px;
}

.locations div {
  display: flex;
  gap: 15px;
}

.locations img {
  height: 20px;
  width: auto;

}

.socials img {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

.logo_left span {
  color: var(--light-skyblue);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navigation ul li {}

.navigation ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--off-white);

}

.navigation .nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.navigation .menu_button {
  width: 45px;
  height: 45px;
}

.header_title_section {
  width: 50%;
  margin: 60px 0;
}

.main_title {
  position: relative;
}

.main_title .headingOne {
  line-height: 78px;

}

.main_title .headingOne span {
  color: var(--light-skyblue);
}

.main_title img {
  position: absolute;
  top: 136px;
}

.header_title_section p {
  color: var(--off-white);
  margin-top: 20px;
  margin-bottom: 35px;
}

.header_title_section div {
  display: flex;
  gap: 20px;
}


/* about section */
.about_section {
  /* max-width: 1240px; */
  margin: 100px;
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 60px;
}

.about_left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_left .video {
  border-radius: 30px;

}

.play_button {
  position: absolute;
}

.about_right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about_section .title_top {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.about_section .headingTwo {
  color: var(--dark1);
  margin: 35px 0;
}

.experiences {
  position: relative;

}

.experience_image {
  border-radius: 30px;
  width: 580px;
  height: 400px;
}

.experience_cards {
  position: absolute;
  top: 45px;
  right: -60px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 351px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 60px;

}

.card {
  display: flex;
  align-items: start;
  gap: 20px;
}

.card p {
  font-size: 17px;
  line-height: 26px;
  margin-top: 5px;
  overflow-wrap: break-word;
}

/* about section end */
/* services start */
.service_section {
  margin: 100px 0;
  padding: 100px 0;
  background-color: #ffffff;
}

.service_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin:0 100px;
}

.service_heading {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.service_top a {
  text-decoration: none;
  color: #758BFD;
  font-size: 14px;
  line-height: 24px;
}

.services {
  display: flex;
  gap: 30px;
  margin: 50px 100px 0;
  overflow-x: scroll;
}

.services::-webkit-scrollbar{
  color: transparent;
}

.service {
  /* width: 360px; */
  /* width: calc(100% - 12.5px); */
  height: 350px;
  border-radius: 30px;
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  flex: 0 0 23.33%;
  scroll-snap-align: start;
}

.service_img {
  
}

.service_head {}

.service_description {}

/* services End */
/* planning section start */
.planning_section{
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-row: auto;
  gap: 60px;
}
.plannig_box_one{
  grid-column: 1 /span 3;

  
}
.plannig_box_two{
  grid-column: 4/ span 9;
}
.plannig_box_three{
  grid-column: 1/span 3;
}
.plannig_box_four{
  grid-column: 4/span 3;
}
.plannig_box_five{
  grid-column: 10/ span 3;
}
.plannig_box_two p{
  font-size: 17px;
  line-height: 26px;
}
/* planning section End */